* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-hl-0: #cdf400;
  --color-hl-1: #34541f;
  --color-hl-2: #222324;
  --color-hl-3: #c9da2a;
  --menu-height: 50px;
}

.menu {
  height: var(--menu-height);
}

.map {
  height: calc(100vh - var(--menu-height));
}
