* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* **** */
/* MENU */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 14px 0;
  gap: 0 12px;
}

.toggle-button {
  user-select: none;
  cursor: pointer;
}

.toggle-button .toggle-input {
  display: none;
}

.toggle-button .toggle-input + .toggle-label {
  display: inline-block;
  padding: 10px 18px;
  background-color: #eee;
  border: 1px #444 solid;
  border-radius: 2px;
}

.toggle-button .toggle-input:checked + .toggle-label {
  background-color: #cdf400;
}

/* ****** */
/* IMAGES */
.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 66%;
  margin: 0 auto;
}

.item-container {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  width: 20%;
  overflow: hidden;
  transition: width 0.1s linear, margin 0.1s linear;
  pointer-events: unset;
  user-select: none;
}

.info-wrapper {
  width: 0;
  height: 0;
  transition: all 0.1s linear;
}

.image-wrapper {
  position: relative;
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
}

.image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}

.image-boxes {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.image-boxes .box {
  position: absolute;
  border: 2px #cdf400 solid;
}

.item-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.item-container.selected {
  width: 60%;
  overflow: visible;
}

.item-container.col-3.selected {
  margin-left: -20%;
}
.item-container.col-4.selected {
  margin-left: -40%;
}

.item-container.selected .info-wrapper {
  width: 100%;
  padding: 8px;
}
