* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* **** */
/* MENU */
.menu-wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 0;
  margin: 18px 0;
  gap: 0 12px;
  background-color: #fff;
}

.toggle-button {
  user-select: none;
  cursor: pointer;
}

.toggle-button .toggle-input {
  display: none;
}

.toggle-button .toggle-input + .toggle-label {
  display: inline-block;
  padding: 10px 18px;
  background-color: #eee;
  border: 1px #444 solid;
  border-radius: 2px;
}

.toggle-button .toggle-input:checked + .toggle-label {
  background-color: #cdf400;
}

/* ****** */
/* IMAGES */
.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 66%;
  margin: 0 auto;
}

.item-container {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  width: 20%;
  overflow: hidden;
  transition: width 0.1s linear, margin 0.1s linear, opacity 0.1s linear;
  pointer-events: none;
  user-select: none;
}

.info-wrapper {
  font-family: sans-serif;
  font-size: 14px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
}

.image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  filter: grayscale(1);
  transition: filter 0.1s linear;
}

.image-boxes {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.image-boxes .box {
  position: absolute;
  border: 2px #cdf400 solid;
}

.item-container.active {
  pointer-events: unset;
}

.item-container.inactive {
  opacity: 0.1;
}

.item-container.selected {
  width: 60%;
  max-width: 640px;
  overflow: visible;
}

.item-container.selected .image {
  filter: grayscale(0);
}

.item-container.col-0.selected {
  margin-left: 20%;
}
.item-container.col-1.selected {
  margin-left: 0%;
}
.item-container.col-2.selected {
  margin-left: -20%;
}
.item-container.col-3.selected {
  margin-left: -40%;
}
.item-container.col-4.selected {
  margin-left: -60%;
}

.item-container.selected .info-wrapper {
  width: 100%;
  padding: 8px;
}

/* ****** */
/* IMAGE INFO */
.image-info-wrapper {
  position: sticky;
  bottom: 4px;
  width: 100%;
}

.image-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff;
  opacity: 0;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  border: #666 1px solid;
  border-radius: 10px;
  transition: opacity 0.07s linear;
}

.image-info.show {
  opacity: 0.8;
}
