* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  display: block;
  width: 100%;
  height: 100px;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 66%;
  margin: 0 auto;
}

.item-container {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  width: 20%;
  overflow: hidden;
  transition: all 0.1s linear;
}

.info-wrapper {
  width: 0;
  height: 0;
  transition: all 0.1s linear;
}

.image {
  display: block;
  width: 100%;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.item-container.selected {
  width: 60%;
  overflow: visible;
}

.item-container.col-3.selected {
  margin-left: -20%;
}
.item-container.col-4.selected {
  margin-left: -40%;
}

.item-container.selected .info-wrapper {
  width: 100%;
  padding: 8px;
}
